@import "../base/variables";

.bound {
  border-width: thin;
  border-style: solid;
  border-radius: 5px; 
}

.pri-bound {
  border-color: $primary;
}

.sec-bound {
  border-color: $secondary;
}

.might-bound {
  border-color: $might;
}

.speed-bound {
  border-color:speed;
}

.intellect-bound {
  border-color:intellect;
}