@import "./base/reset";
@import "./base/variables";
@import "./layout/boundaries";
@import "./layout/sectionAreas";


body, form {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  max-width: 100vw;
}

#App {
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  grid-template-rows: repeat(10, minmax(0, 1fr));
}